version: "3"
services:

  database:
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=
      - POSTGRES_PASSWORD=
      - PORT=5432
      - POSTGRES_DB=
    ports:
      - "5432:5432"
  api:
    depends_on:
      - database
    stdin_open: true
    restart: always
    build: ./
    command: uvicorn app:app --host 0.0.0.0 --reload
    ports:
      - "8000:8000"